.subjectDetail_info_box {
  padding: 30px;
  border: 1px solid #D9D9D9;
  margin-bottom: 30px;
}
.subjectDetail_info_box .com_dl_list_box dd {
  width: 33%;
  .val {
    display: block;
    min-height: 24px;
  }
}